<header class="et-l et-l--header">
    <div class="et_builder_inner_content et_pb_gutters3">
      <div
        class="et_pb_section et_pb_section_0_tb_header et_pb_with_background et_pb_fullwidth_section et_section_regular et_pb_section--with-menu"
      >
        <div
          class="et_pb_with_border et_pb_module et_pb_fullwidth_menu et_pb_fullwidth_menu_0_tb_header et_pb_bg_layout_dark et_pb_text_align_left et_dropdown_animation_fade et_pb_fullwidth_menu_fullwidth et_pb_fullwidth_menu--without-logo et_pb_fullwidth_menu--style-centered"
        >
          <div class="et_pb_row clearfix">
            <div class="et_pb_menu__wrap">
              <div class="et_pb_menu__menu">
                <nav class="et-menu-nav fullwidth-menu-nav">
                  <ul
                    id="menu-main-menu"
                    class="et-menu fullwidth-menu nav et_disable_top_tier"
                  >
                    <li
                      class="et_pb_menu_page_id-12 menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-12"
                    >
                      <a href="/" aria-current="page">Home</a>
                    </li>
                    <li
                      class="et_pb_menu_page_id-1325 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1325"
                    >
                      <a href="/about">About</a>
                      <ul class="sub-menu">
                        <li
                          class="et_pb_menu_page_id-553 menu-item menu-item-type-post_type menu-item-object-page menu-item-587"
                        >
                          <a href="/faqs">FAQs</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-4715 menu-item menu-item-type-post_type menu-item-object-page menu-item-4729"
                        >
                          <a href="/venue">Venue</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-1320 menu-item menu-item-type-post_type menu-item-object-page menu-item-1326"
                        >
                          <a href="/about">About the Awards</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-1412 menu-item menu-item-type-post_type menu-item-object-page menu-item-4577"
                        >
                          <a href="/newsletter">Newsletter</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-626 menu-item menu-item-type-post_type menu-item-object-page menu-item-671"
                        >
                          <a href="/categories">Categories</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-5795 menu-item menu-item-type-post_type menu-item-object-page menu-item-5842"
                        >
                          <a href="/winner-photos"
                            >Winner Photos</a
                          >
                        </li>
                        <li
                          class="et_pb_menu_page_id-565 menu-item menu-item-type-post_type menu-item-object-page menu-item-5843"
                        >
                          <a href="/winners">2022 Winners</a>
                        </li>
                        <li
                          class="et_pb_menu_page_id-532 menu-item menu-item-type-post_type menu-item-object-page menu-item-540"
                        >
                          <a href="/testimonials"
                            >Industry Buzz</a
                          >
                        </li>
                        <li
                          class="et_pb_menu_page_id-755 menu-item menu-item-type-post_type menu-item-object-page menu-item-1362"
                        >
                          <a href="/why-enter">Why Enter?</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="et_pb_menu_page_id-617 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-666"
                    >
                      <a href="/judging-process">Judging</a>
                      <ul class="sub-menu">
                        <li
                          class="et_pb_menu_page_id-5900 menu-item menu-item-type-custom menu-item-object-custom menu-item-5900"
                        >
                          <a
                            href="https://hellopartner.typeform.com/to/aRB8te6o"
                            >Apply to Judge</a
                          >
                        </li>
                        <li
                          class="et_pb_menu_page_id-617 menu-item menu-item-type-post_type menu-item-object-page menu-item-669"
                        >
                          <a href="/judging-process"
                            >Judging Process</a
                          >
                        </li>
                        <li
                          class="et_pb_menu_page_id-613 menu-item menu-item-type-post_type menu-item-object-page menu-item-6425"
                        >
                          <a href="/judges">The Judges</a>
                        </li>
                      </ul>
                    </li>
                    <li
                      class="et_pb_menu_page_id-3499 menu-item menu-item-type-post_type menu-item-object-page menu-item-4562"
                    >
                      <a href="/sponsorship">Sponsorship</a>
                    </li>
                    <li
                      class="et_pb_menu_page_id-7189 menu-item menu-item-type-custom menu-item-object-custom menu-item-7189"
                    >
                      <a href="/shortlist">Shortlist</a>
                    </li>
                    <li
                      class="et_pb_menu_page_id-5211 menu-item menu-item-type-post_type menu-item-object-page menu-item-7233"
                    >
                      <a href="/host">Celebrity Host</a>
                    </li>
                    <li
                      class="et_pb_menu_page_id-5607 menu-item menu-item-type-post_type menu-item-object-page menu-item-7247"
                    >
                      <a href="/itinerary">Itinerary</a>
                    </li>
                    <li
                      class="et_pb_menu_page_id-6386 menu-item menu-item-type-custom menu-item-object-custom menu-item-6386"
                    >
                      <a
                        target="_blank"
                        rel="noopener"
                        href="https://performancein.swoogo.com/IMA23"
                        >Book Your Seats</a>
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="et_mobile_nav_menu">
                <div class="mobile_nav closed">
                  <span class="mobile_menu_bar">
                    
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="et_pb_section et_pb_section_1_tb_header et_pb_with_background et_section_regular"
      >
        <div class="et_pb_row et_pb_row_0_tb_header et_pb_equal_columns">
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_0_tb_header pi-vertical-align et_pb_css_mix_blend_mode_passthrough"
          >
            <div class="et_pb_module et_pb_image et_pb_image_0_tb_header">
              <a href="/"
                ><span class="et_pb_image_wrap"
                  ><img
                    decoding="async"
                    loading="lazy"
                    width="776"
                    height="204"
                    src="wp-content/uploads/sites/3/2023/01/GIMA-logo-reversed.svg"
                    alt=""
                    title="Global Influencer Marketing Awards"
                    class="wp-image-5918" /></span
              ></a>
            </div>
          </div>
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_1_tb_header pi-vertical-align et_pb_css_mix_blend_mode_passthrough"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_0_tb_header et_pb_text_align_center et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner"><p>HOSTED BY</p></div>
            </div>
            <div class="et_pb_module et_pb_image et_pb_image_1_tb_header">
              <a href="https://hellopartner.com/"
                ><span class="et_pb_image_wrap"
                  ><img
                    decoding="async"
                    loading="lazy"
                    width="836"
                    height="267"
                    src="wp-content/uploads/sites/3/2023/01/Hello-Partner-Logo-On-Dark-Grey-RGB.svg"
                    alt=""
                    title="Hello Partner"
                    class="wp-image-5907" /></span
              ></a>
            </div>
          </div>
          <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_2_tb_header pi-vertical-align et_pb_css_mix_blend_mode_passthrough et-last-child"
          >
            <div
              class="et_pb_module et_pb_text et_pb_text_1_tb_header et_pb_text_align_right et_pb_text_align_center-tablet et_pb_bg_layout_light"
            >
              <div class="et_pb_text_inner">
                <p>
                  <strong>CEREMONY 20 August 2023<br /></strong>The Londoner
                  Hotel, London
                </p>
              </div>
            </div>
            <div
              class="et_pb_button_module_wrapper et_pb_button_0_tb_header_wrapper et_pb_button_alignment_right et_pb_button_alignment_tablet_center et_pb_module"
            >
              <a
                class="et_pb_button et_pb_button_0_tb_header et_pb_bg_layout_light"
                href="https://performancein.swoogo.com/IMA23"
                >Book Your Seats Today</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
